form(action="/").controls
    .controls-header
        if name == 'index'
            select.controls_client.select(name="client_name")
                option(value="Дима Inc.") Дима Inc.
                option(value="Дима Inc.") Дима Inc.asdf
                option(value="Дима Inc.") Дима Inc.wefewfewf
                option(value="Дима Inc.") Дима Inc.efwef
            input.controls_input.input(
                name="number"
                placeholder='Номер'
                type="text"
            )
            input.controls_input.input(
                name="location"
                placeholder='Местоположение'
                type="text"
            )
            input.controls_input.input(
                name="cadastre"
                placeholder='Кадастр'
                type="text"
            )
        else if name == 'clients'
            input.controls_input.input(
                type="text"
                placeholder='Организация'
            )
    include ./cardParentList
